<div class="genre-top">
  <ul>
    <li><a href="/genre/Action" title="Action">Action</a></li>

    <li><a href="/genre/Adventure" title="Adventure">Adventure</a></li>

    <li><a href="/genre/Cars" title="Cars">Cars</a></li>

    <li><a href="/genre/Comedy" title="Comedy">Comedy</a></li>

    <li><a href="/genre/Dementia" title="Dementia">Dementia</a></li>

    <li><a href="/genre/Demons" title="Demons">Demons</a></li>

    <li><a href="/genre/Drama" title="Drama">Drama</a></li>

    <li><a href="/genre/Dub" title="Dub">Dub</a></li>

    <li><a href="/genre/Ecchi" title="Ecchi">Ecchi</a></li>

    <li><a href="/genre/Family" title="Family">Family</a></li>

    <li><a href="/genre/Fantasy" title="Fantasy">Fantasy</a></li>

    <li><a href="/genre/Game" title="Game">Game</a></li>

    <li><a href="/genre/Harem" title="Harem">Harem</a></li>

    <li><a href="/genre/Hentai" title="Hentai">Hentai</a></li>

    <li><a href="/genre/Historical" title="Historical">Historical</a></li>

    <li><a href="/genre/Horror" title="Horror">Horror</a></li>

    <li><a href="/genre/Josei" title="Josei">Josei</a></li>

    <li><a href="/genre/Kids" title="Kids">Kids</a></li>

    <li><a href="/genre/Magic" title="Magic">Magic</a></li>

    <li><a href="/genre/Martial Arts" title="Martial Arts">Martial Arts</a></li>

    <li><a href="/genre/Mecha" title="Mecha">Mecha</a></li>

    <li><a href="/genre/Military" title="Military">Military</a></li>

    <li><a href="/genre/Music" title="Music">Music</a></li>

    <li><a href="/genre/Mystery" title="Mystery">Mystery</a></li>

    <li><a href="/genre/Parody" title="Parody">Parody</a></li>

    <li><a href="/genre/Police" title="Police">Police</a></li>

    <li>
      <a href="/genre/Psychological" title="Psychological">Psychological</a>
    </li>

    <li><a href="/genre/Romance" title="Romance">Romance</a></li>

    <li><a href="/genre/Samurai" title="Samurai">Samurai</a></li>

    <li><a href="/genre/School" title="School">School</a></li>

    <li><a href="/genre/Sci-Fi" title="Sci-Fi">Sci-Fi</a></li>

    <li><a href="/genre/Seinen" title="Seinen">Seinen</a></li>

    <li><a href="/genre/Shoujo" title="Shoujo">Shoujo</a></li>

    <li><a href="/genre/Shoujo Ai" title="Shoujo Ai">Shoujo Ai</a></li>

    <li><a href="/genre/Shounen" title="Shounen">Shounen</a></li>

    <li><a href="/genre/Shounen Ai" title="Shounen Ai">Shounen Ai</a></li>

    <li>
      <a href="/genre/Slice of Life" title="Slice of Life">Slice of Life</a>
    </li>

    <li><a href="/genre/Space" title="Space">Space</a></li>

    <li><a href="/genre/Sports" title="Sports">Sports</a></li>

    <li><a href="/genre/Super Power" title="Super Power">Super Power</a></li>

    <li><a href="/genre/Supernatural" title="Supernatural">Supernatural</a></li>

    <li><a href="/genre/Thriller" title="Thriller">Thriller</a></li>

    <li><a href="/genre/Vampire" title="Vampire">Vampire</a></li>

    <li><a href="/genre/Yaoi" title="Yaoi">Yaoi</a></li>

    <li><a href="/genre/Yuri" title="Yuri">Yuri</a></li>
  </ul>
</div>
