<header class="header">
  <div class="header__logoWrapper">
    <a href="/">
      <img
        alt="Brukie anime logo"
        class="header__logo"
        src="./img/logo-white.png"
      />
    </a>
  </div>
  <div class="header__widgets">
    <%- include("./searchbar.ejs") %>
    <div class="burger-menu">
      <div class="burger-menu__stroke"></div>
      <div class="burger-menu__stroke"></div>
      <div class="burger-menu__stroke"></div>
    </div>
  </div>
</header>

<nav class="header__nav">
  <a id="home-link" class="header__navLink" href="/"> Genres </a>
  <a id="" class="header__navLink" href="/"> Movies </a>
  <a id="" class="header__navLink" href="/"> Anime List </a>

  <a id="" class="header__navLink" href="/"> New Season </a>

  <a id="" class="header__navLink" href="/"> Popular </a>
</nav>
