<div class="search__barWrapper">
  <span class="search__barCloseMenu hidden">Go back</span>
  <input class="search__bar" placeholder="Search any anime" />

  <button class="searchBtn-mobile hidden">
    <img
      class="search__barIcon"
      src="./img/search-icon.svg"
      alt="Search Icon"
    />
  </button>
  <div class="search__barIcon__wrapper">
    <img
      class="search__barIcon"
      src="./img/search-icon.svg"
      alt="Search Icon"
    />
  </div>

  </div>
</div>
