<div class="search__barWrapper">
  <input class="search__bar" placeholder="Search over a million anime" />
  <img src="./img/close.svg" class="search__barCloseMenu hidden" />
  <div class="search__barIcon__wrapper">
    <img
      class="search__barIcon"
      src="./img/search-icon.svg"
      alt="Search Icon"
    />
  </div>
</div>
