<section class="anime-tab">
  <div class="anime-tab__headingWrapper">
    <div class="anime-tab__animeTypes">
      <h2 data-animeType="updated" class="anime-type current-type">Updated</h2>
      <span class="seperator">|</span>
      <h2 data-animeType="newest" class="anime-type">Newest</h2>
      <span class="seperator">|</span>
      <h2 data-animeType="ongoing" class="anime-type">Ongoing</h2>
    </div>
    <div class="togglepage__wrapper">
      <span style="cursor: pointer" class="page-toggler toggle-backwards"
        >&lt;</span
      >
      <span>Page</span>
      <span class="current-page">1</span>
      <span>of 301</span>
      <span style="cursor: pointer" class="page-toggler toggle-forwards"
        >&gt;</span
      >
    </div>
  </div>
  <ul class="anime-tab__listWrapper"></ul>
</section>
