.header {
  @include flex-center;
  height: 12rem;
  &__logo {
    width: 25rem;
    @media (max-width: 550px) {
      width: 20rem;
    }
  }
  &__widgets {
    display: none;
    @include flex-center;
  }
}
nav {
  position: relative;
  @include flex-center;
  background-color: #141414;
  padding: 1rem 0;
  padding-right: 6rem;
  margin-bottom: 3rem;
  & .header__navLink {
    text-transform: uppercase;
    color: #fff;
    @media (max-width: 550px) {
      margin-bottom: 1rem;
    }
  }
  a {
    margin: 0 1rem;
    font-size: 1.35rem;
  }
  @media (max-width: 550px) {
    display: none;
    align-items: flex-start;
    flex-direction: column-reverse;
    padding-right: 0;
    padding-left: 2rem;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 5;
  }
}
.close-menu {
  display: none;
  cursor: pointer;
  & img {
    position: absolute;
    top: 2rem;
    right: 5rem;
    width: 3rem;
  }
  @media (max-width: 550px) {
    display: block;
  }
}
.search__barWrapper {
  position: relative;
  cursor: pointer;
}
.search__bar {
  padding: 1rem;
  margin: 0 1rem;
  width: 25rem;
  border: 1px solid #34323a;
  outline: none;
  border-radius: 0.5rem;
  background-color: rgba(58, 58, 58, 0.712);
  color: #fff;
  transition: border 0.6s;

  @media (max-width: 550px) {
    display: none;
  }

  &:focus {
    border: 1px solid $main-color;
    & ~ .search__contentWrapper {
      display: flex;
    }
  }

  &Icon {
    width: 2rem;
    position: absolute;
    right: 2rem;
    top: 0.7rem;
    @media (max-width: 550px) {
      position: static;
    }
  }
}
.search__barIcon__wrapper {
  height: 5rem;
  width: 6rem;
  @include flex-center;
  display: inline;
  @media (max-width: 550px) {
    display: flex;
    background-color: rgb(58, 58, 58);
  }
}

.searchBtn-mobile {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  right: 2rem;
  top: 0.7rem;
}
.search__barCloseMenu {
  cursor: pointer;
  @include flex-center;
}
.burger-menu {
  height: 5rem;
  width: 6rem;
  cursor: pointer;
  margin-left: 1rem;
  @include flex-center;
  flex-direction: column;
  background-color: rgb(58, 58, 58);
  display: none;
  &__stroke {
    width: 4rem;
    height: 0.5rem;
    margin-bottom: 0.7rem;
    background-color: #fff;
  }
  @media (max-width: 550px) {
    display: flex;
  }
}
// annabrown_2014
.genre-top {
  display: none;
  position: absolute;
  top: 3rem;
  background-color: #141414;
  color: #bbbbbb;
  padding: 2rem;
  z-index: 2;
  text-transform: capitalize;
  & ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    color: $main-textColor;
    & a:hover {
      color: $secondary-color;
    }
  }
  @media (max-width: 550px) {
    display: block;
    position: static;
  }
}

#genre-link {
  cursor: pointer;
  &:hover {
    color: $secondary-color;
    & .genre-top {
      display: block;
      border-radius: 0.8rem;
    }
  }
}
