.header {
  @include flex-center;
  height: 12rem;
  &__logo {
    width: 25rem;
    @media (max-width: 550px) {
      width: 20rem;
    }
  }
}
nav {
  @include flex-center;
  background-color: #141414;
  padding: 1rem 0;
  padding-right: 6rem;
  margin-bottom: 3rem;
  a {
    color: #fff;
    margin: 0 1rem;
    text-transform: uppercase;
    font-size: 1.35rem;
  }
}
.search__barWrapper {
  position: relative;
}
.search__bar {
  padding: 1rem;
  width: 25rem;
  border: 1px solid #34323a;
  outline: none;
  border-radius: 0.5rem;
  background-color: rgba(58, 58, 58, 0.712);
  color: #fff;
  transition: border 0.6s;

  @media (max-width: 550px) {
    width: 0rem;
    border: 0;
    padding: 0;
  }

  &:focus {
    border: 1px solid $main-color;
  }
  &Icon {
    width: 2rem;
    position: absolute;
    right: 1rem;
    top: 0.7rem;
    @media (max-width: 550px) {
      position: relative;
      top: 0;
      right: 0;
      padding: 1rem 2rem;
      background-color: rgb(58, 58, 58);
    }
  }
}
