* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $main-background-color;
  color: $main-textColor;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: $main-textColor;
}

li {
  list-style: none;
  color: #fff;
}
