* {
  margin: 0;
  padding: 0; }

body {
  background-color: #000;
  color: #bbbbbb;
  overflow-x: hidden; }

a {
  text-decoration: none;
  color: #bbbbbb; }

.hidden {
  display: none !important; }

li {
  list-style: none;
  color: #fff; }

html {
  font-size: 10px; }

body {
  font-size: 1.6rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace; }

.anime-tab {
  position: relative;
  width: 55%;
  background-color: #1b1f22;
  border-radius: 0.8rem;
  min-height: 100vh;
  padding: 1rem; }
  @media (max-width: 850px) {
    .anime-tab {
      width: 90%;
      margin: 0 auto; } }

.anime-tab__headingWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: rgba(11, 232, 129, 0.9);
  color: #2f3542;
  border-radius: 0.8rem; }
  .anime-tab__headingWrapper a {
    color: #fff; }
  @media (max-width: 550px) {
    .anime-tab__headingWrapper {
      flex-direction: column; } }

.anime-tab__animeTypes {
  display: flex; }
  .anime-tab__animeTypes h2 {
    color: #fff;
    font-size: 1.5rem;
    margin: 0 1rem;
    cursor: pointer;
    text-transform: uppercase; }

.anime-tab__listWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  margin: 3rem auto; }
  @media (max-width: 660px) {
    .anime-tab__listWrapper {
      grid-template-columns: repeat(3, 1fr); } }
  @media (max-width: 500px) {
    .anime-tab__listWrapper {
      grid-template-columns: repeat(2, 1fr); } }

.anime-tab__list {
  margin: 0 1rem;
  position: relative; }

.anime-tab__list img {
  width: 100%;
  height: 20rem; }

.reaslead {
  color: #bbbbbb; }

.anime-tab__list p {
  margin: 1rem 0rem;
  margin-bottom: 4rem;
  text-align: center;
  max-width: 85%;
  font-size: 1.4rem;
  position: absolute;
  bottom: 3rem;
  background-color: #6c5ce7;
  padding: 0.6rem 0.8rem; }

.anime-tab__list a {
  display: block;
  text-align: center;
  font-size: 1.3rem;
  color: gold;
  font-weight: 500; }

.anime-name {
  height: 4rem;
  overflow: hidden;
  text-align: center;
  display: block;
  font-size: 1.4rem; }

.page-toggler {
  background-color: gold;
  color: #000;
  padding: 0.3rem 0.8rem; }

.togglePage__wrapper {
  user-select: none; }

.current-page {
  color: #fff; }

.current-type {
  color: #2f3542 !important; }

.sidebar-wrapper {
  display: flex;
  flex-direction: column; }
  @media (max-width: 850px) {
    .sidebar-wrapper {
      flex-direction: row;
      justify-content: center;
      margin-top: 1rem; } }
  @media (max-width: 620px) {
    .sidebar-wrapper {
      flex-direction: column; } }

.widget-sidebar {
  padding: 1rem 2rem;
  width: 35rem;
  margin-left: 1rem;
  border-radius: 0.8rem;
  background-color: #1b1f22; }
  @media (max-width: 850px) {
    .widget-sidebar {
      width: 40%;
      margin: 1rem auto; } }
  @media (max-width: 620px) {
    .widget-sidebar {
      width: 90%; } }

.top10__heading {
  color: #ffd32a;
  margin-bottom: 1rem; }

.top10 li {
  margin-bottom: 0.4rem;
  font-size: 1.3rem; }

.genres {
  margin-top: 1rem; }
  .genres__heading {
    margin-bottom: 1rem;
    color: #ffd32a; }
  .genres ul {
    display: grid;
    gap: 1rem 2.5rem;
    grid-template-columns: repeat(3, 1fr); }
    .genres ul li {
      font-size: 1.3rem; }

.home-widgets {
  display: flex;
  justify-content: center; }
  @media (max-width: 850px) {
    .home-widgets {
      flex-direction: column; } }

.loader {
  border-top: 2px solid #27ae60;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  animation: load 0.6s infinite;
  margin: 2rem auto;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%); }

@keyframes load {
  from {
    transform: translate(-50%, -50%) rotate(0deg); }
  to {
    transform: translate(-50%, -50%) rotate(360deg); } }

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12rem; }
  .header__logo {
    width: 25rem; }
    @media (max-width: 550px) {
      .header__logo {
        width: 20rem; } }
  .header__widgets {
    display: none;
    display: flex;
    align-items: center;
    justify-content: center; }

nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #141414;
  padding: 1rem 0;
  padding-right: 6rem;
  margin-bottom: 3rem; }
  nav .header__navLink {
    text-transform: uppercase;
    color: #fff; }
    @media (max-width: 550px) {
      nav .header__navLink {
        margin-bottom: 1rem; } }
  nav a {
    margin: 0 1rem;
    font-size: 1.35rem; }
  @media (max-width: 550px) {
    nav {
      display: none;
      align-items: flex-start;
      flex-direction: column-reverse;
      padding-right: 0;
      padding-left: 2rem;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 5; } }

.close-menu {
  display: none;
  cursor: pointer; }
  .close-menu img {
    position: absolute;
    top: 2rem;
    right: 5rem;
    width: 3rem; }
  @media (max-width: 550px) {
    .close-menu {
      display: block; } }

.search__barWrapper {
  position: relative;
  cursor: pointer; }

.search__bar {
  padding: 1rem;
  margin: 0 1rem;
  width: 25rem;
  border: 1px solid #34323a;
  outline: none;
  border-radius: 0.5rem;
  background-color: rgba(58, 58, 58, 0.712);
  color: #fff;
  transition: border 0.6s; }
  @media (max-width: 550px) {
    .search__bar {
      display: none; } }
  .search__bar:focus {
    border: 1px solid #27ae60; }
    .search__bar:focus ~ .search__contentWrapper {
      display: flex; }
  .search__barIcon {
    width: 2rem;
    position: absolute;
    right: 2rem;
    top: 0.7rem; }
    @media (max-width: 550px) {
      .search__barIcon {
        position: static; } }

.search__barIcon__wrapper {
  height: 5rem;
  width: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  display: inline; }
  @media (max-width: 550px) {
    .search__barIcon__wrapper {
      display: flex;
      background-color: #3a3a3a; } }

.searchBtn-mobile {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  right: 2rem;
  top: 0.7rem; }

.search__barCloseMenu {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center; }

.burger-menu {
  height: 5rem;
  width: 6rem;
  cursor: pointer;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #3a3a3a;
  display: none; }
  .burger-menu__stroke {
    width: 4rem;
    height: 0.5rem;
    margin-bottom: 0.7rem;
    background-color: #fff; }
  @media (max-width: 550px) {
    .burger-menu {
      display: flex; } }

.genre-top {
  display: none;
  position: absolute;
  top: 3rem;
  background-color: #141414;
  color: #bbbbbb;
  padding: 2rem;
  z-index: 2;
  text-transform: capitalize; }
  .genre-top ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    color: #bbbbbb; }
    .genre-top ul a:hover {
      color: #ffd32a; }
  @media (max-width: 550px) {
    .genre-top {
      display: block;
      position: static; } }

#genre-link {
  cursor: pointer; }
  #genre-link:hover {
    color: #ffd32a; }
    #genre-link:hover .genre-top {
      display: block;
      border-radius: 0.8rem; }
