.anime-tab {
  position: relative;
  width: 60%;
  background-color: $contrast-color;
  border-radius: $main-borderRadius;
  min-height: 100vh;
  padding: 1rem;
}
.anime-tab__headingWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: rgba(11, 232, 129, 0.9);
  color: #2f3542;
  border-radius: 0.8rem;
  & a {
    color: #fff;
  }
}
.anime-tab__animeTypes {
  display: flex;
  h2 {
    color: #fff;
    font-size: 1.5rem;
    margin: 0 1rem;
    cursor: pointer;
    text-transform: uppercase;
  }
}

.anime-tab__listWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  margin: 3rem auto;
}
.anime-tab__list {
  margin: 0 1rem;
  position: relative;
}
.anime-tab__list img {
  width: 100%;
  height: 20rem;
}
.reaslead {
  color: $main-textColor;
}
.anime-tab__list p {
  margin: 1rem 0rem;
  margin-bottom: 4rem;
  text-align: center;
  max-width: 85%;
  font-size: 1.4rem;
  position: absolute;
  bottom: 3rem;
  background-color: #6c5ce7;
  padding: 0.6rem 0.8rem;
}
.anime-tab__list a {
  display: block;
  text-align: center;
  font-size: 1.3rem;
  color: gold;
  font-weight: 500;
}
.anime-name {
  height: 4rem;
  overflow: hidden;
  text-align: center;
  display: block;
  font-size: 1.4rem;
}

.hidden {
  display: none;
}
.page-toggler {
  display: inline-flex;
  background-color: gold;
  color: #000;
  padding: 0.3rem 0.8rem;
}
.togglePage__wrapper {
  user-select: none;
}
.current-page {
  color: #fff;
}
.current-type {
  color: #2f3542 !important;
}
.loader {
  border-top: 2px solid $main-color;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  animation: load 0.6s infinite;
  margin: 2rem auto;
  position: absolute;
  left: 50%;
  top: 30%;
}
@keyframes load {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
