.sidebar-wrapper {
  display: flex;
  flex-direction: column;
  @media (max-width: 850px) {
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
  }
  @media (max-width: 620px) {
    flex-direction: column;
  }
}
.widget-sidebar {
  padding: 1rem 2rem;
  margin-left: 1rem;
  border-radius: $main-borderRadius;
  background-color: $contrast-color;
  @media (max-width: 850px) {
    width: 40%;
    margin: 1rem auto;
  }
  @media (max-width: 620px) {
    width: 90%;
  }
}
.top10 {
  &__heading {
    color: $secondary-color;
    margin-bottom: 1rem;
  }
  & li {
    margin-bottom: 0.4rem;
    font-size: 1.3rem;
  }
}
.genres {
  margin-top: 1rem;

  &__heading {
    margin-bottom: 1rem;
    color: $secondary-color;
  }
  & ul {
    display: grid;
    gap: 1rem 2.5rem;
    grid-template-columns: repeat(3, 1fr);
    & li {
      font-size: 1.3rem;
    }
  }
}
