main {
  padding: 2rem;
  @media (max-width: 750px) {
    padding: 0;
  }
}
.section-video {
  width: 60%;
  padding: 3rem;
  background-color: #2d3436;
  border-radius: 0.8rem;
  overflow: hidden;
  position: relative;
  @media (max-width: 750px) {
    width: 90%;
    margin: auto;
  }
}
#video-player {
  width: 100%;
  height: 45rem;
  border: none;
  background-color: #000;
  @media (max-width: 1100px) {
    height: 36rem;
  }
  @media (max-width: 800px) {
    height: 28rem;
  }
  @media (max-width: 750px) {
    height: 38rem;
  }
  @media (max-width: 570px) {
    height: 27rem;
  }
}
.episodes {
  &__tabWrapper {
    margin-top: 2rem;

    color: #fff;
    & span {
      padding-right: 1rem;
    }
  }
  &__heading {
    color: $secondary-color;
    margin-top: 2rem;
  }
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 1rem;
    margin-top: 2rem;
    @media (max-width: 750px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__episode {
    border-radius: 0.4rem;
    padding: 1rem 2rem;
    text-align: center;
    cursor: pointer;
    border: 1px solid;
  }
}
.current-episode {
  background-color: #ffa502 !important;
  border: none !important;
}
