<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/streaming.css" />
    <title>Document</title>
    <script type="module" src="./js/dist/main.js" defer></script>
  </head>

  <body>
    <%- include("../partials/header.ejs") %>
    <main>
      <section class="section-video">
        <iframe allowfullscreen id="video-player" src=""></iframe>
        <div class="loader"></div>
        <div class="episodes">
          <h2 class="episodes__heading">Episode List</h2>
          <div class="episodes__tabWrapper"></div>
          <ul class="episodes__wrapper"></ul>
        </div>
      </section>
    </main>
  </body>
</html>
